@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backGround: #202124;
    --tamanhoDaCelula: 100px;
    --tamanhoX: calc(var(--tamanhoDaCelula) * 0.9);
}

body {
    background: var(--backGround);
}

header {
    text-align: center;
    color: white;
    font: 400px 12pt "Open Sans", sans-serif;
    margin: 64px 0 64px 0;
}

.borda {
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(3, auto); /*isso aqui serve para deixar tudo alinhado com colunas, com 3 colunas e uso automatico.*/
}

.celulas {
    width: var(--tamanhoDaCelula);
    height: var(--tamanhoDaCelula);


    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: 1px white solid;
    border-top: none;
    border-right: none;
}

/*serve para apagar as listas laterais esquerdas, com esse novo metodo de css, 3*0+1=1(irá pegar a primeira celula) e assim sucessivamente*/
.celulas:nth-child(3n + 1) {
    border-left: none;
}

/*serve para apagar as listas laterais embaixo, com esse novo metodo de css, n+7(pegará de 7 em diante) e assim sucessivamente*/
.celulas:nth-child(n + 7) {
    border-bottom: none;
}

/*criando o X*/
.celulas.x::before,
.celulas.x::after {
    content: "";
    width: calc(var(--tamanhoX) * 0.15);
    height: var(--tamanhoX);

    background-color: white;
    position: absolute;
}

.celulas.x::before {
    transform: rotate(45deg);
}

.celulas.x::after {
    transform: rotate(-45deg);
}