@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backGround: #202124
}

body {
    background: var(--backGround);
}

header {
    text-align: center;
    color: white;
    font: 400px 12pt "Open Sans", sans-serif;
    margin: 64px 16px 64px 16px;
}